*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/misc.xml
/.idea/caches
/.idea/codeStyles
/.idea/kotlinc.xml
/.idea/deploymentTargetDropDown.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
keystore.jks
play-keys.json
