*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/misc.xml
/.idea/caches
/.idea/codeStyles
.DS_Store
/build
/captures
.externalNativeBuild
keystore.jks
play-keys.json
