<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.move4mobile.lichtstad">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".LichtstadApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".photo.album.AlbumActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity"
            android:theme="@style/WhiteLabel.Photo.Album" />
        <activity
            android:name=".photo.detail.PhotoViewActivity"
            android:label="@string/menu_photos"
            android:parentActivityName=".photo.album.AlbumActivity"
            android:theme="@style/WhiteLabel.Photo.Detail" />
        <activity
            android:name=".result.ResultDetailActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/WhiteLabel.Result.Detail" />

        <receiver android:name=".boot.BootReceiver"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON"/>
                <!--For HTC devices-->
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name=".program.favoritenotificationmanager.ProgramFavoriteNotificationManager$ProgramFavoriteNotificationBroadcastReceiver"
            android:exported="false" />

        <provider
            android:authorities="${applicationId}.DefaultNotificationChannelInitProvider"
            android:name=".notifications.DefaultNotificationChannelInitProvider"
            android:exported="false"
            android:initOrder="10" />

        <provider
            android:authorities="${applicationId}.ProgramFavoriteNotificationManagerInitProvider"
            android:name=".program.favoritenotificationmanager.ProgramFavoriteNotificationManagerInitProvider"
            android:exported="false"
            android:initOrder="0" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.ShareFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fileprovider" />
        </provider>

        <service
            android:name=".remotenotifications.FirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification_small" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/notification_channel_id_default" />

        <!-- Fixes a crash in Google Maps on Pie -->
        <!-- https://stackoverflow.com/questions/50782806/android-google-maps-java-lang-noclassdeffounderror-failed-resolution-of-lorg-a -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>